@tailwind base;
@tailwind components;
@tailwind utilities;

.sideBar {
  background: url("../images/bg-sidebar-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-mobile {
  background: url("../images/bg-sidebar-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30vh;
}
